.inputContainer{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3em;
}

.searchInput{
    border-radius: 10px;
    width: 70vw;
    height: 3vw;
    padding: 20px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}